dt {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

table th {
    background: lightgray;
}

body {
    background: rgba(213, 133, 86, 0.8);
}

hr {
    color: #554F4C;
}

nav ul li a:link {
    color: black;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    color: #FF763B;
    background: #332A25;
}

nav ul li a:active {
    color: greenyellow;
}

dl dd {
    margin-top: 0.25em;
    margin-bottom: 1.6em;
}

ol.reference-list li {
    margin: 0.6em 0;
}