dt {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

table th {
    background: lightgray;
}

body {
    background: #D58556;
}

hr {
    color: #554F4C;
}