dt {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

table th {
    background: lightgray;
}

body {
    background: #D58556;
}

hr {
    color: #554F4C;
}

nav ul li a:link {
    color: black;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    color: #FF763B;
    background: #332A25;
}

nav ul li a:active {
    color: greenyellow;
}