.container {
    max-width: 1600px;
    margin: 0 auto;
    /* background: rgb(175, 222, 176); */
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:
     1fr;
    grid-template-areas:
    "heady"
    "navvy"
    "mainy"
    "mainy"
    "mainy"
    "footy";
}